
<aside id="info_banner">
    Internetová stránka Ranču Transylwahnja sprístupňuje informácie o chove koní, komposte, ekologickom
    poľnohospodárstve a výrobe domácich potravín rodiny Pipovcov. Uplatňuje princípy <a
            href="http://www.agrowebcee.net" target="_blank"><b>AgroWeb Networku</b></a>, ktorého cieľom je výmena
    skúseností medzi agro-ekologicky zameranými ľuďmi, organizáciami a farmami produkujúcimi biopotraviny.
</aside>
<section id="main_content">
    <h1>Čo nového na ranči</h1>



    <% data.forEach((entry) => { %>
        <article class="newsflash">
            <a href="javascript:popImage('<%= entry.img %>',':: RANČ TRANSYLWAHNJA :: ','');">
                <img src="<%= entry.img %>" alt="<%= entry.alt %>">
            </a>
            <time datetime="<%= entry.datetime %>"><%= entry.date %></time>
            <h2><%= entry.title %></h2>
            <p><%= entry.text %></p>

        </article>
    <% }) %>


    <!--<article class="newsflash">
        <a href="javascript:popImage('foto/kone-perseus1.jpg',':: RANČ TRANSYLWAHNJA :: ','');">
            <img src="foto/kone-perseus1_m.jpg" alt="Perzeus">
        </a>
        <time datetime="2019-04-01">apríl 2019</time>
        <h2>Na ranč prichádza Perzeus</h2>
        <p>Nový úžasný kôň, ktorého sme si osvojili priamo z aktívneho mezinárodného
            Military sportu. Či krása v drezúre, prechádzky vo výške 170cm alebo
            vytrvalosť v teréne, to je Perzeus.
            Teraz, po spoľahlivo odpracovaných 18 rokoch si môže užívať konský raj na
            ranči. Ďalšie fotky nájdete v galérii.
        </p>
    </article>-->





</section>
<section class="pagination">
    <h1>Archív noviniek</h1>
    <p>
        1 | <a href="ranc.php?page_id=2">2</a> | <a href="ranc.php?page_id=3">3</a>
    </p>
</section>
